div.first {
  width: 100px;
  height: 100px;
  background-color: blue;
}

div.second {
  width: 100px;
  height: 200px;
  border: 1px solid black;
  background-image: url('/sucoding/coffee.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

div.third {
  width: 200px;
  height: 200px;
  background-image: url('/sucoding/coffee.jpg');
  background-size: cover;
  background-position: center;
}

body {
  height: 1000px;
}

.parent {
  width: 320px;
  height: 240px;
  border: 1px solid black;
  overflow: scroll;
}

.children {
  height: 2000px;
  background-image: url('/sucoding/coffee.jpg');
  background-attachment: fixed;
}
