h1 {
  font-family: serif;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  text-decoration: underline;
}

h2 {
  font-size: 30px;
  line-height: 200%;
  font-weight: normal;
  font-style: oblique;
  text-decoration: overline;
}

p.variant {
  font-size: 30px;
  line-height: 1.5;
  font-variant: small-caps;
  color: purple;
  text-decoration: line-through;
}

p.text-align {
  font-size: 20px;
  line-height: normal;
  text-align: justify;
  letter-spacing: 16px; /*normal은 웹브라우저에서 정한 기본값 적용*/
}

a {
  font-size: 30px;
  line-height: 2;
  text-decoration: none;
}
